.showtimes {
	min-height: 100%;
	width: 100%;
	position: fixed; 
   	overflow-y: scroll;
   	top: 0; right: 0; bottom: 0; left: 0;
	background: #fff;
	z-index: 600;
	color: #fff;
	transform: scaleY(0);
	transform-origin: 50% 100%;
	transition-duration: 0.3s;
	background: linear-gradient(to bottom, rgba(0,0,0, 0.45) , rgba(0,0,0, 0.45) ), url('../public/img/cityweb.jpg') no-repeat center;
	background-size: cover;
	-webkit-overflow-scrolling: touch;
	&>.st-title {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		background: transparent;
		position: relative;
		transform: translateY(100px);
		opacity: 0;
		transition-duration: 0.2s;
		&::after {
			content: "";
			position: absolute;
			bottom: 0%;
			left: 10%;
			width: 80%;
			height: 1px;
			background: #fff;
		}
		&>h1 {
			margin-top: 120px;
			margin-bottom: 10px;
			z-index: 2;
			text-shadow: 0px 0px 2.5px #000;
			transform: translateY(50px);
			opacity: 0;
			transition-duration: 0.3s;
			@media #{$mq-800} {
				margin-top: 100px;
				margin-bottom: 20px;
			}
		}
		&>p {
			font-size: 1em;
			margin: -10px auto 0 auto;
			width: 95%;
			max-width: 750px;
			z-index: 2;
			text-shadow: 0px 0px 2.5px #000;
			transform: translateY(50px);
			opacity: 0;
			transition-duration: 0.3s;
		}
		&>h2 {
			z-index: 2;
			text-shadow: 0px 0px 2.5px #000;
			transform: translateY(50px);
			opacity: 0;
			transition-duration: 0.3s;
		}
	}
	&>#times {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90%;
		max-width: 600px;
		margin: auto;
		background: transparent;
		padding-bottom: 50px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition-duration: 0.3s;
		&>.showtime {
			@include center;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			background-color: #fff;
  			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			margin: 30px auto 10px auto;
			text-align: center;
			border-bottom: 7px solid $color;
			&>div{
				@include center;
				flex-direction: column;
				margin-top: 20px;
				text-align: center;
				// margin: auto;
				width: 85%;
				@media #{$mq-800} {
					width: 70%;
				}
				&>div {
					width: 100%;
					@include center;
					justify-content: space-between;
					margin-bottom: 20px;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						bottom: -10px;
						left: -2.5%;
						height: 1px;
						width: 105%;
						background-color: rgba(#000, 0.25);
					}
				}
				&>div:last-of-type{
					&::after {
						display: none;
					}
				}
			}
			&>h3 {
				margin: 20px auto auto auto;
				font-size: 1.75em;
				color: $color;
				width: 90%;
			}
			& h4 {
				margin: 0;
				font-size: 1.25em;
				color: #000;
			}
			& button {
				height: 40px;
				// width: 140px;
				background-color: #fff;
				border: none;
				outline: none;
				position: relative;
				overflow: hidden;
				// margin-bottom: 10px;
				padding: 5px 10px;
				box-sizing: border-box;
				color: $color;
				border: 1px solid $color;
				&::before {
					content: "BUY TICKETS";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					transform: translateY(-100%);
					transition-duration: 0.2s;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 0%;
					background-color: $color;
					box-sizing: border-box;
					transition-duration: 0.2s;
				}
				&:hover::after {
					height: 100%;
				}
				&:hover::before {
					transform: translateY(0%);
					transition-delay: 0.05s;
				}
			}
		}
	}
}
.showtimes-show {
	transform: scaleY(1);
	transition: transform 0.3s 0s;
	&>.st-title {
		transform: translateY(0px);
		opacity: 1;
		transition-delay: 0.15s;
		&>h1 {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 0.25s;
		}
		&>p{
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 0.35s;
		}
		&>h2 {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 0.45s;
		}
	}
	&> #times {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 0.8s;
		&> .showtime {
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 0.8s;
		}
	}	
} 

.time-wrapper h4 {
	color: #000;
}

.backtoresults {
	position: fixed;
	top: 60px;
	left: calc(50% - 50px);
	width: 100px;
	height: 40px;
	border: none;
	outline: none;
	background-color: #fff;
	color: $color;
	z-index: 700;
	@include headerShadow;
	transform: scaleY(0);
	transform-origin: 50% 0%;
	transition-duration: 0.2s;
	@media #{$mq-800} {
		left: 0;
	}
}

.backtoresults-show {
	transform: scaleY(1);
	transition-delay: 0.6s
}